<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monthly Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script>
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">POSTS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/logout?">Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br />

    <!-- Page Content -->
    <div class="container">
        <div class="row"></div><br /><br />
        <div class="row">
            {{!-- <h1>{{username}}</h1> --}}
            <!-- Blog Entries Column -->
            <div class="col-md-8">

                {{#each posts}}
                <div class="card mb-4">
                    <div class="card-body">
                        <span>
                            <h5>Title : {{this.Post_Title}}</h5>
                        </span>
                        <p class="card-text">
                        <h3>Description : {{this.Description}}</h3>
                        </p>
                        <span>
                            <h6>Author : {{this.Author}}</h6>
                            <h6>Time : {{this.Time}}</h6>
                        </span>

                    </div>
                    {{!-- <div class="card-footer text-muted">

                        <span style="font-size: small;">Time : {{this.post.post_time}}</span><br>
                        <a href="#">By : {{this.post.Author}}</a>
                        <button class="btn {{#if this.post.user_like}}btn-info{{/if}}" name="like_button"
                            id={{this.post._id}} style="float: right;">
                            Like{{#if this.post.user_like}}d{{/if}} {{this.post.like_count}}
                        </button>
                    </div>
                    <form action="/post/addcomment" method="post" id="form_{{@index}}">
                        <input type="hidden" name="url" value={{../url}}>
                        <input type="hidden" name="category" value={{../category}}>
                        <input type="hidden" name="username" value={{../viewername}}>
                        <input type="hidden" name="post_id" value={{this.post._id}}>
                        <input type="hidden" name="post_author" value={{this.post.username}}>
                        <input type="hidden" name="post_body" value='{{this.post.post_body}}'>
                        <table style='width:100%;'>
                            <tr>
                                <td>
                                    <input type="text" style='width:130%;' name="comment_body"
                                        placeholder="Add your comment...." id="input_{{@index}}"
                                        onkeyup="stoppedTyping({{@index}})">
                                </td>
                                <td>
                                    <input type="submit" disabled class="btn btn-primary" value="Comment"
                                        style="float:right" id="submit_{{@index}}">
                                </td>
                            </tr>
                        </table> --}}


                    </form>
                    <div class="row">
                        {{#each this.post.Comments}}
                        <div class="col-sm-6">
                            <div class="card text-white bg-secondary mb-3"
                                style="max-width: 23rem; padding: 10px; margin:10px;">
                                {{this}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>
                            <form action="/posts/createpost" method="post">
                                <input type="hidden" name="Author" value={{username}}>
                                <input type="text" style='width:50%;' name="Post_Title" placeholder="title">
                                <input type="text" style='width:100%;' name="Description"
                                    placeholder="Your post goes here....">
                                <input type="submit" class="btn btn-info" value="Submit">
                            </form>
                        </h3>
                        </p>

                    </div>
                    <div class="card-footer text-muted">
                        {{this.post_time}}
                        <a href="#">{{this.post.username}}</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>